
%h1 Group listing
- if @groups
  - @groups.each do |group|
    .group
      .group_name
        %a{:href => group.link}=group.name
      .group_description=group.description
- else
  No groups found

